<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro_Ususario</title>
    <link rel="stylesheet" type="text/css" href="../styles/registroDatos.css">
</head>
<body>
    <section class="principal">
        <h2>Registro</h2>

        <div class="principal_usuario">
            <label for="validationDefault01">No. Control</label> 
            <input type="text" id="validationDefault01" placeholder="Ejemplo: 173107256">
            <label for="validationDefault02">Nombre</label> 
            <input type="text" id="validationDefault02" placeholder="Nombre completo">
        </div>
        <br>
        <div class="principal_privado">
            <label for="validationDefault03">Contraseña</label> 
            <input type="password" id="validationDefault03" >
            <label for="validationDefault04">Confirmar contraseña</label> 
            <input type="password" id="validationDefault04">
            <br>
            <br>
            <input  type="radio" value="" id="defaultCheck1" name="usertype">
            <label  for="defaultCheck1">Alumno</label>
            
            <input class="form-check-input" type="radio" value="" id="defaultCheck2" name="usertype">
            <label class="form-check-label3" for="defaultCheck2">Docente</label>
            <br>
            <input class="form-check-input" type="radio" value="" id="defaultCheck3" name="usertype">
            <label class="form-check-label2" for="defaultCheck3">Administrador</label>
            <br>
            <br>
            <button id="siguiente">Siguiente</button>
        </div>
    </section>
</body>
</html>